<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tic-Tac-Toe</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="''" aria-label="reset score">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="'local'" aria-label="reset score">
        <mat-icon>sports_esports</mat-icon>
        <span>Local Game</span>
      </button>
      <button mat-menu-item [routerLink]="'online'" aria-label="reset score">
        <mat-icon>public</mat-icon>
        <span>Online Game</span>
      </button>
      <button mat-menu-item [routerLink]="'settings'" aria-label="reset score">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
