<app-info-bar [score]="score" [winner]="winner" [xIsNext]="xIsNext"></app-info-bar>
<br>
<div id="board">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile class="gameBoardSquare" *ngFor="let val of squares; let i = index">
      <app-square  [class.winnerRow]="showWinnerRow(i)" [value]="val" (click)="makeMove(i)"></app-square>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<button mat-raised-button id="newGame" color="accent" (click)="newGame()" aria-label="New Game">New Game</button>
<br><br>
<mat-progress-bar *ngIf="winner == null" [color]="xIsNext ? 'primary' : 'warn'" mode="determinate" value="{{ winner ? 100 : moveCounter/9*100 }}"></mat-progress-bar>
<mat-progress-bar *ngIf="winner" [color]="winner == 'X' ? 'primary' : 'warn'" mode="determinate" value="{{ winner ? 100 : moveCounter/9*100 }}"></mat-progress-bar>
